.App {
  text-align:start;
}

.App-logo {
  width: 10%;
  pointer-events: none;
  background-color: #e8ccd7;
  border-radius: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
line.tester{
  stroke:green;
}
.App-header {
  background-color: #e8ccd7;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7e7069;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
}
