p.backers{
    text-align: start;
    text-wrap: auto;
    width: 75%;
    color: rgb(194, 15, 59);
    font-size: larger;
}
div.base{
    background-color: #bbc8ce;
}
select,h3.sss{
    font-size: larger;
    color: blue;
    width: 60%;
}
label {
    font:
      1rem 'Fira Sans',
      sans-serif;
      font-size:xx-large;
      color: rgb(197, 96, 49);
  }
  
  input {
    margin: 0.4rem;
    width:75%;
  }