p.backers{
    text-align: start;
    text-wrap: auto;
    width: 75%;
    color: rgb(194, 15, 59);
    font-size: larger;
}
div.base{
    background-color: #bbc8ce;
}
select,h3.sss{
    font-size: larger;
    color: blue;
    width: 60%;
    background-color: lawngreen;;
}
select.sssd,h3.sssd{
    font-size: larger;
    color: blue;
    width: 50%;
    background-color: rgb(252, 80, 0);;
}
button.update{
    background-color: blue;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    text-transform: uppercase;
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(192, 82, 82);
    transition: ease background-color 250ms;
    &:hover {
      background-color: green;
    }
    &:disabled {
      cursor: default;
      opacity: 0.7;
    }
}
label {
    font:
      1rem 'Fira Sans',
      sans-serif;
      font-size:xx-large;
      color: rgb(197, 96, 49);
      &:hover {
        background-color: rgb(131, 235, 131);
      }
      &:disabled {
        cursor: default;
        opacity: 0.7;
      }
  }
  
  input {
    margin: 0.4rem;
    width:75%;
  }
  input.deleteb{
    width:5%;
  }
  